body{
    background-color: white;

}
#contenedor{
    width: 800px;
    background-color: goldenrod;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   

}
nav{
    background-color: green;
    width: 150px;
    color: whitesmoke;
    float: left;
   
}
section{
    background-color: orange;
    color: whitesmoke;
    width: 400px;
    float: left;
    justify-content: center;
}
aside{
    background-color: lightseagreen;
    color: whitesmoke;
    width: 300px;
    float: left;
   
}