#cuadrodefondo{
    background-color: grey;
    display: flex;
    justify-content: center;



}
#verde{
    background-color: green;
    width: 200px;
    height: 200px;
    

}
#azul{
    background-color: blue;
    width: 200px;
    height: 200px;
    
}
#rojo{
    background-color: red;
    width: 200px;
    height: 200px;
    
}