#cuadrodefondo{
    background-color: grey;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    

}
#verde{
    background-color: green;
    width: 200px;
    height: 200px;
    margin: 10px;

}
#azul{
    background-color: blue;
    width: 200px;
    height: 200px;
    margin: 10px;
}
#rojo{
    background-color: red;
    width: 200px;
    height: 200px;
    margin: 10px;
}