body{
    background-color: black ;
}
*{
    margin:0;
    padding: 0;
}
header{
        position: fixed;
        top: 0%;
        left: 0%;
        width: 98%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        padding: 20px 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        letter-spacing: 2px;
        z-index: 10;
        background: bisque;
        border-radius: 0px 0px 20px 20px;

}
header .logo{

    position: relative;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    color: white;
    

}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
}
header ul li a{
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 15px;
    letter-spacing: 3px;
    font-weight: 600;
   text-decoration: none;
   color: white;
}
#contenedordefondo{
    margin-top: 100px;
    width: 1500px;
    height: 800px;
    background-color: beige;
    border-radius: 40px;
    display: flex;
    margin-left: 12%;
    

}
#contenedordeimagen{
    background-color: grey;
    width: 500px;
    height: 500px;
    margin-top: 10%;
    margin-left: 12%;
    border-radius: 25%;
}
#contenedordetexto{
    background-color: lightgray;
    width: 500px;
    height: 600px;
    margin-top: 10%;
    margin-left: 10%;
    border-radius: 15%;
}