body{
    background: snow ;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    color:rgb(0, 0, 0);
    line-height: 25px;
    text-shadow:4px 3px 4px lightskyblue ;
    margin: 0% 50%;

    
 }
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    color:rgb(0, 0, 0);
    text-shadow: 0px 4px 2px lightblue;
    width: 15%;
    float: left;
    padding: 0px 5%;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    text-shadow: 0px 2px 2px lightcyan;

}
p{
    text-shadow: 0px 2px 2px lightcyan;


}